<header>
  <div class="scrolling-banner">
    <span *ngFor="let i of repeatArray" class="banner-item">
      <mat-icon class="banner-icon">local_shipping</mat-icon>
      <span class="banner-text">Envío gratis por compras mayores a S/ 65.00</span>
    </span>
  </div>

  <div class="top-bar">
    <button class="menu-btn" (click)="openMenu()">
      <mat-icon style="font-size: 20px;">menu</mat-icon>
    </button>

    <img *ngIf="logo" [src]="logo.image | base64Image" alt="Logo" class="logo" (click)="goHome()"
      style="cursor: pointer;" />

    <input type="text" placeholder="¿Qué estás buscando?" />

    <div class="user-actions">
      <a *ngIf="!isLoggedIn" routerLink="/login" class="top-link">
        <mat-icon>person</mat-icon>
        Ingresar
      </a>

      <div *ngIf="isLoggedIn" class="top-link user-menu" (click)="goToAccount()">
        <mat-icon>account_circle</mat-icon>
        <span>Mi cuenta</span>
      </div>

      <button class="top-link" (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </button>
    </div>
  </div>

  <nav class="categories">
    <div *ngFor="let cat of categories" class="category-item" (click)="selectCategory(cat)">
      {{ cat.name }}
    </div>
  </nav>
</header>