<header>
  <div class="scrolling-banner">
    <span *ngFor="let i of repeatArray" class="banner-item">
      <mat-icon class="banner-icon">local_shipping</mat-icon>
      <span class="banner-text">Envío gratis por compras mayores a S/ 65.00</span>
    </span>
  </div>

  <div class="top-bar">
    <button class="menu-btn">
      <mat-icon style=" font-size: 20px; height: 20px; width: 20px;">menu</mat-icon>
    </button>

    <img *ngIf="logo" [src]="logo.image | base64Image" alt="Logo" class="logo" />

    <input type="text" placeholder="¿Qué estás buscando?" />

    <div class="user-actions">
      <a routerLink="/login" class="top-link">
        <mat-icon>person</mat-icon>
        Ingresar
      </a>

      <a routerLink="/cart" class="top-link">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </div>

  <nav class="categories">
    <div *ngFor="let cat of categories" class="category-item">
      {{ cat.name }}
    </div>
  </nav>
</header>